<div class="container">
  <h1>So you want to automatically text your contact info?</h1>
  <p>Call this number</p>
  <code>+1 917-267-2555</code>
  <p>Dial the number you want to call. Press 3 to text that person your contact info!<p>
</div>
